body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header{
  background-color: black;
  position: relative;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 16px;
}

.header-container{
  width: 1000px;
  margin: 0 auto;
}
.logo{
  float: left;
  padding-bottom: 5px;
  margin-bottom: 1px;
}

.logo img{
  height: 48px;
}

.brand-name{
  position: absolute;
  margin-left: 20px;
  top: 44px;
  color: white;
}

.navbar{
  position: relative;
  top: 16px;
}

.dream{
  font-weight: 500;
}


.navbar ul {
  display: inline-block;
  padding-left: 250px;
}
.navbar ul li{
  display: inline-block;
  text-decoration: none;
}

.navbar a{
  text-decoration: none;
  color: white;
  padding: 17px 20px;
}

.contact-number{
  position: absolute;
  padding: 10px 20px;
  background-color: rgb(51, 204, 255);
  right: 0;
  bottom: 0;
}

.contact-number img{
  position: relative;
  top:5px;
}
.navbar a:hover{
  background-color: orangered;
}

.banner{
  background-image: url(./images/slider-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.banner-container{
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.banner-message{
  position: absolute;
  top: 150px;
  background-color: white;
  opacity: 0.80;
  padding:10px 15px;
}

.banner-text{
  width: 90%;
  margin: 0 auto;
}

.left-right-icons{
  float: right;
  font-size: 24px;
}

.left-right-icons a{
  text-decoration: none;
  color: darkgray;
}

.main-container{
  position: relative;
}

.center-container{
  clear: right;
  width: 1000px;
  margin: 0 auto;
}

.message-and-right-navbar{
  margin: 0;
  
}

.message{
  text-align: center;
  padding-top: 60px;
  width: 1000px;
  margin: 0 auto;
}

.message p{
  color: rgb(77, 77, 77); 
}

.project-type{
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 468px;
}

.project-type h4{
  display: inline;
}

.grey-text{
  color: rgb(204, 204, 204);
  padding-left: 15px;
}

.grey-text i{
  font-size: 23px;
}

.right-border{
  border-right: 2px solid rgb(204, 204, 204); 
  padding-right: 10px;
}

.grey-text:hover{
  color: rgb(51, 204, 255); 
  cursor: pointer;
}

.right-navbar{
  float: right;
}

.right-navbar ul{
  list-style: none;
  margin-top: 0;
}

.bottom{
  padding-top: 15px;
  margin-bottom: 0;
}

.right-navbar ul li{
  background-color: black;
  border-bottom: 2px solid white;
  padding: 10px 15px;
}


.right-navbar a{
  text-decoration: none;
  color: white;
} 

.right-navbar .bottom li{
  background-color: orangered;
} 

.project-images{
  padding-top: 30px;
  height: 350px;
}

.project-images div{
  float: left;
}

.project-images div{
  padding-right: 4px;
  width: 24.5%;
}

.project-1 {
  position: relative;
  cursor: pointer;
}
.project-2 {
  cursor: pointer;
  position: relative;
}
.project-3 {
  cursor: pointer;
  position: relative;
}

.project-4 {
  cursor: pointer;
  position: relative;
}
.project-description1{
  position: absolute;
  display: block;
}
.explore1{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-description2{
  position: absolute;
  display: block;
}
.explore2{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-description3{
  position: absolute;
  display: block;
}
.explore3{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-description4{
  position: absolute;
  display: block;
}
.explore4{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-name-address{
  position: absolute;
  width: 246px;
  text-align: center;
  top: 10px;
  left: 0;
}

.project-name-address img{
  position: absolute;
  top: 0;
}

.project-1:hover .explore1{
  display: block;
}

.project-1:hover .project-description1{
  display: none;
}

.project-2:hover .explore2{
  display: block;
}

.project-2:hover .project-description2{
  display: none;
}

.project-3:hover .explore3{
  display: block;
}

.project-3:hover .project-description3{
  display: none;
}

.project-4:hover .explore4{
  display: block;
}

.project-4:hover .project-description4{
  display: none;
}

.project-address{
  font-style: italic;
  font-size: 14px;
  color: rgb(77, 77, 77);
}

.about-us-segment{
  height: 400px;
}

.about-us-left{
  padding: 20px 0px;
  float: left;
  width: 750px;
  border-right: 2px solid rgb(166, 166, 166);
}

.about-us-left span{
  color: rgb(51, 204, 255); 
  font-size: 14px;
} 


.about-us-left img{
  float: left;
  margin-right: 30px;
}

.description{
  color: rgb(77, 77, 77);
  position: relative;
  top: 20px;
  clear: left;
  font-size: 14px;
}

.motto{
  font-size: 21px;
  font-weight: 100;
  width: 400px;
  margin:auto;
  margin-bottom: 20px;
}

.about-us-right{
  position: relative;
  left: 20px;
}

.who-we-are p{
  display: inline; 
  font-size: 14px; 
  color: rgb(77, 77, 77);
}

.vision p{
  display: inline; 
  font-size: 14px; 
  color: rgb(77, 77, 77);
}

.more-info{
  color: rgb(51, 204, 255); 
  cursor: pointer; 
  font-size: 14px;
}


.footer{
  background-image: url(./images/footer-image.png);
  height: 300px;
}

.footer-container{
  padding-top: 25px;
  clear: both;
  width: 1000px;
  margin: 0 auto;
  color: white;
}

.footer-container div{
  float: left;
}

.testimonial{
  width: 25%;
}

.testimonial hr{
  width: 170px; 
  margin-left: 0; 
  display: inline-block;
}

.testimonial i{
  color: white;
}

.quick-links{
  width: 25%;
  position: relative;
}

.address{
  width: 25%;
}

.subscribe{
  width: 25%;
}

.subscribe input{
  width: 100%; 
  height: 25px;
}

.subscribe button{
  color: white; 
  background-color: rgb(51, 204, 255); 
  border: none; 
  padding: 10px 15px; 
  width: 75px; 
  margin-top: 10px;
}


.quick-links img{
  position: absolute;
  top: 10px;
  left: 100px;
}


.quick-links a{
  text-decoration: none;
  padding-left: 0;
  padding-bottom: 10px;
  color: rgb(191, 191, 191);
} 

.quick-links a:hover{
  color: white;
}

.address {
  position: relative;
}

.address img{
  position: absolute;
  top: 10px;
  left: 100px;
}

.address p{
  color: rgb(191, 191, 191);
}

.subscribe span{
  height: 70px;
}

.subscribe i{
  font-size: 25px;
  color:white;
}



.facebook-icons{
  position: relative;
  cursor: pointer;
  height: 20px;
}

.facebook-icon-blue{
  position: absolute;
  display: none;
}

.facebook-icon-white{
  position: absolute;
  left: 0;
}

.facebook-icons:hover .facebook-icon-white{
  display: none;
}

.twitter-icons{
  position: relative;
  cursor: pointer;
  left: 10px;
  height: 25px;
}

.twitter-icon-blue{
  position: absolute;
  display: none;
}

.twitter-icon-white{
  position: absolute;
  left: 0;
}

.twitter-icons:hover .twitter-icon-blue{
  display: block;
}


.linkedin-icons{
  position: relative;
  left: 50px;
  cursor: pointer;
}

.linkedin-icon-blue{
  position: absolute;
  display: none;
}

.linkesdin-icon-white{
  position: absolute;
  left: 0;
}

.linkedin-icons:hover .linkedin-icon-blue{
  display: block;
}

.mail-icons{
  position: relative;
  left: 60px;
  cursor: pointer;
}

.mail-icon-blue{
  position: absolute;
  display: none;
}

.mail-icon-white{
  position: absolute;
  left: 0;
}

.mail-icons:hover .mail-icon-blue{
  display: block;
}

.edit-icons{
  position: relative;
  left: 100px;
  cursor: pointer;
}

.edit-icon-blue{
  position: absolute;
  display: none;
}

.edit-icon-white{
  position: absolute;
  left: 0;
}

.edit-icons:hover .edit-icon-blue{
  display: block;
}