body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header{
  background-color: black;
  position: relative;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 16px;
}

.header-container{
  width: 1000px;
  margin: 0 auto;
}
.logo{
  float: left;
  padding-bottom: 5px;
  margin-bottom: 1px;
}

.logo img{
  height: 48px;
}

.brand-name{
  position: absolute;
  margin-left: 20px;
  top: 44px;
  color: white;
}

.navbar{
  position: relative;
  top: 16px;
}

.dream{
  font-weight: 500;
}


.navbar ul {
  display: inline-block;
  padding-left: 250px;
}
.navbar ul li{
  display: inline-block;
  text-decoration: none;
}

.navbar a{
  text-decoration: none;
  color: white;
  padding: 17px 20px;
}

.contact-number{
  position: absolute;
  padding: 10px 20px;
  background-color: rgb(51, 204, 255);
  right: 0;
  bottom: 0;
}

.contact-number img{
  position: relative;
  top:5px;
}
.navbar a:hover{
  background-color: orangered;
}

.banner{
  background-image: url(./images/slider-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.banner-container{
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.banner-message{
  position: absolute;
  top: 150px;
  left: 0px;
  background-color: white;
  opacity: 0.80;
  padding:10px 15px;
}

.banner-text{
  width: 90%;
  margin: 0 auto;
}

.left-right-icons{
  float: right;
  font-size: 24px;
}

.left-right-icons a{
  text-decoration: none;
  color: darkgray;
}

.main-container{
  position: relative;
}

.center-container{
  clear: right;
  width: 1000px;
  margin: 0 auto;
}

.message-and-right-navbar{
  position: relative;
  margin: 0;
  
}

.message{
  text-align: center;
  padding-top: 60px;
  width: 1000px;
  margin: 0 auto;
}

.message p{
  color: rgb(77, 77, 77); 
}

.project-type{
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-bottom: 10px;
  width: 470px;
}

.project-type h4{
  display: inline;
}

.grey-text{
  color: rgb(204, 204, 204);
  padding-left: 15px;
}

.grey-text:hover{
  color: rgb(51, 204, 255); 
  cursor: pointer;
}

.right-navbar{
  float: right;
}

.right-navbar ul{
  list-style: none;
  margin-top: 0;
}

.right-navbar ul li{
  background-color: black;
  border-bottom: 2px solid white;
  padding: 10px 15px;
}


.right-navbar a{
  text-decoration: none;
  color: white;
} 

.right-navbar .bottom li{
  background-color: orangered;
} 

.project-images{
  padding-top: 30px;
  width: 1000px;
  margin: auto;
  height: 50vh;
}

.project-images div{
  float: left;
}

.project-images img{
  padding-right: 4px;
  width: 246px;
}

.project-1 {
  position: relative;
  cursor: pointer;
}
.project-2 {
  cursor: pointer;
  position: relative;
}
.project-3 {
  cursor: pointer;
  position: relative;
}

.project-4 {
  cursor: pointer;
  position: relative;
}
.project-description1{
  position: absolute;
  display: block;
}
.explore1{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-description2{
  position: absolute;
  display: block;
}
.explore2{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-description3{
  position: absolute;
  display: block;
}
.explore3{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-description4{
  position: absolute;
  display: block;
}
.explore4{
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.project-name-address{
  position: absolute;
  width: 246px;
  text-align: center;
  top: 10px;
  left: 0;
}

.project-name-address img{
  position: absolute;
  top: 0;
}

.project-address{
  font-style: italic;
  font-size: 14px;
  color: rgb(77, 77, 77);
}

.about-us-left{
  padding: 20px 0px;
  float: left;
  width: 750px;
  border-right: 2px solid rgb(166, 166, 166);
}

.about-us-left img{
  float: left;
  margin-right: 30px;
}

.description{
  position: relative;
  top: 20px;
  clear: left;
  font-size: 14px;
}

.motto{
  font-size: 21px;
  font-weight: 100;
  width: 400px;
  margin:auto;
  margin-bottom: 20px;
}

.about-us-right{
  position: relative;
  left: 20px;
}


.footer{
  margin-top: 100px;
  background: url(./images/footer-image.png);
  background-size: cover;
  width: 100%;
}

.footer-container{
  width: 1150px;
  margin: 0 auto;
}
