body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.bcl{
  color : #33CCFF;
}

.header {
  background-color: black;
  position: relative;
  color: white;
  padding-top: 10px;
  padding-bottom: 16px;
}

.header-container {
  width: 1000px;
  margin: 0 auto;
}

.logo {
  float: left;
  padding-bottom: 6px;
}

.logo img {
  height: 48px;
}

.brand-name {
  position: absolute;
  margin-left: 20px;
  top: 44px;
  color: white;
  cursor: pointer;
}

.dream {
  font-weight: 500;
}

.navbar ul {
  padding-left: 300px;
  padding-top: 33px;
  margin: 0;
  list-style: none;
}

.navbar ul li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 17px 20px;
}

.contact-number {
  cursor: pointer;
  position: absolute;
  padding: 10px 20px;
  background-color: #33CCFF;
  right: 0;
  bottom: 0;
}

.contact-number a {
  text-decoration: none;
  color: white;
}

.contact-number img {
  vertical-align: middle;
}

.navbar a:hover {
  background-color: orangered;
}

.banner {
  background-image: url(./images/slider-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.banner-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.banner-message {
  position: absolute;
  top: 150px;
  background-color: white;
  opacity: 0.80;
  padding: 10px 15px;
}

.banner-text {
  width: 90%;
  margin: 0 auto;
}

.left-right-icons {
  float: right;
  font-size: 24px;
}

.left-right-icons a {
  text-decoration: none;
  color: darkgray;
}

.main-container {
  position: relative;
}

.center-container {
  width: 1000px;
  margin: 0 auto;
}

.message {
  text-align: center;
  padding-top: 60px;
  width: 1000px;
  margin: 0 auto;
}

.message p {
  color: #4D4D4D;
}

.project-type {
  border-bottom: 1px solid #CCCCCC;
  width: 468px;
}

.project-type h4 {
  display: inline;
}

.grey-text {
  color: #CCCCCC;
  padding-left: 15px;
}

.grey-text i {
  font-size: 23px;
}

.right-border {
  border-right: 2px solid rgb(204, 204, 204);
  padding-right: 10px;
}

.grey-text:hover {
  color: #33CCFF;
  cursor: pointer;
}

.right-navbar {
  float: right;
}

.right-navbar ul {
  list-style: none;
  margin-top: 0;
}

.bottom-list {
  padding-top: 15px;
  margin-bottom: 0;
}

.right-navbar ul li {
  background-color: black;
  border-bottom: 2px solid white;
  padding: 10px 15px;
}

.right-navbar a {
  text-decoration: none;
  color: white;
}

.right-navbar img {
  position: relative;
  top: 2.8px;
  padding-right: 10px;
}

.right-navbar .bottom-list li {
  background-color: orangered;
}

.project-images {
  padding-top: 30px;
  height: 350px;
}


.project-images div {
  float: left;
  padding-right: 4px;
  width: 24.5%;
}

.project-1,
.project-2,
.project-3,
.project-4 {

  cursor: pointer;
}

.project-description1,
.project-description2,
.project-description3,
.project-description4 {
  position: absolute;
  display: block;
}

.explore1,
.explore2,
.explore3,
.explore4 {
  position: absolute;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}


.project-name-address {
  position: absolute;
  width: 246px;
  text-align: center;
  top: 15px;
  left: 0;
}

.project-name-address img {
  position: absolute;
  top: 0;
}

.project-1:hover .explore1,
.project-2:hover .explore2,
.project-3:hover .explore3,
.project-4:hover .explore4 {
  display: block;
}

.project-1:hover .project-description1,
.project-2:hover .project-description2,
.project-3:hover .project-description3,
.project-4:hover .project-description4 {
  display: none;
}

.project-address {
  font-style: italic;
  font-size: 14px;
  color: #4D4D4D;
}

.about-us-segment {
  padding-bottom: 50px;
}

.about-us-left {
  padding: 20px 0px;
  float: left;
  width: 65%;
}

.about-us-left span {
  color: #33CCFF;
  font-size: 14px;
}

.about-us-left img {
  float: left;
  padding-right: 10px;
}

.description {
  color: #4D4D4D;
  position: relative;
  top: 20px;
  font-size: 14px;
}

.motto {
  float: right;
  font-size: 21px;
  font-weight: 100;
  width: 60%;
}

.about-us-right {
  float: right;
  width: 28.5%;
  border-left: 4px solid #d9d9d9;
  padding-left: 0px;
}

.about-us-right div {
  font-size: 14px;
  color: #4D4D4D;
  padding-left: 22px;
}

.about-us-right img {
  padding-right: 15px;
}

.more-info {
  cursor: pointer;
  font-size: 14px;
}

.about-us-right h4 {
  display: inline-block;
}

.footer {
  background-image: url(./images/footer-image.png);
  height: 325px;
  vertical-align: bottom;
}

.footer-container {
  padding-top: 25px;
  width: 1000px;
  margin: 0 auto;
  color: white;
}

.footer-container div {
  float: left;
}

.testimonial,
.address,
.quick-links,
.subscribe {
  width: 23%;
  padding-right: 20px;
}

.testimonial .left-arrow {
  border-radius: 15px;
}

.testimonial p {
  color: #BFBFBF;
  padding-top: 28px;
}

.testimonial hr {
  width: 120px;
  margin-left: 0;
  display: inline-block;
}

.testimonial i {
  color: white;
}

.subscribe input {
  width: 70%;
  height: 25px;
  margin-top: 15px;
}

.subscribe button {
  color: white;
  background-color: #33CCFF;
  border: none;
  padding: 10px 15px;
  width: 75px;
  margin-top: 10px;
}


.address-header {
  display: inline-block;
}


.quick-links h4 {
  display: inline-block;
  padding-left: 5px;
}

.quick-links img,
.address img {
  vertical-align: middle;
  padding-left: 10px;
}


.quick-links a {
  text-decoration: none;
  padding-left: 0;
  padding-bottom: 10px;
  color: #BFBFBF;
}

.quick-links ul {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  padding-top: 15px;
}

.quick-links li {
  padding-top: 10px;
}

.quick-links a:hover {
  color: white;
}

.subscribe span {
  height: 70px;
}

.subscribe i {
  font-size: 25px;
  color: white;
}

.social-media-buttons a {
  float: left;
  padding-right: 3px;
  clear: left;
}

.facebook-icon-blue,
.twitter-icon-blue,
.linkedin-icon-blue,
.edit-icon-blue,
.mail-icon-blue {
  display: none;
}


.facebook-icons:hover .facebook-icon-white,
.twitter-icons:hover .twitter-icon-white,
.linkedin-icons:hover .linkedin-icon-white,
.mail-icons:hover .mail-icon-white,
.edit-icons:hover .edit-icon-white {
  display: none;
}



.facebook-icons:hover .facebook-icon-blue,
.twitter-icons:hover .twitter-icon-blue,
.linkedin-icons:hover .linkedin-icon-blue,
.mail-icons:hover .mail-icon-blue,
.edit-icons:hover .edit-icon-blue {
  display: block;
}

.share-segment-header {
  margin-bottom: 5px;
  margin-top: 30px;
}


@media (max-width: 1000px) {
  body {
    width: 1200px;
  }
}